#tweetButton {
  background-color: aqua;
}

.tweetContainer {
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2.5px solid black;
}
.tweetContainer:hover {
  box-shadow: 5px 10px;
}
.tweetContainer:hover #handle {
  opacity: 1;
}

#tweetAvi {
  width: 100px;
  height: 100px;
}

.tweetHeading {
  display: flex; 
}
#handle {
  opacity: 0;
}

#errorBox {
  color: red;
}

.form-red {
  color: red
}